.section {
	padding: 50px calc(50% - 470px);
	position: relative;

	&__heading {
		left:0;
		right: 0;
		margin: 0 auto;
		top: -1.5em;
	}

	&:nth-child(even) {
		background-color: #eee;
	}
}

.heading {
	position: relative;
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
	width: max-content;
	white-space: nowrap;
	display: block;
	font-weight: 300;

	&::before, &::after {
		content: "";
		display: block;
		position: absolute;
		width: calc(50% - 19.5px);
		height: 2px;
		top: calc(100% + 5px);
		background-color: #00AAEF;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	&__crown {
		position: absolute;
		display: block;
		width: 20px;
		height: 13px;
		top: calc(100% + 4px);
		left: 0;
		right: 0;
		margin: auto;
		background-image: url(../img/crown.png);
	}
}