body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 14px;
  line-height: 1;
}

strong {
  font-weight: 500;
}

.link {
  color: #18A0FB;
  text-decoration: none;
}

.header {
  height: 765px;
  max-height: 70vh;
  background-image: url("../img/background-header.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  font-weight: 500;
  line-height: 1;
}
.header__nav {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}
.header__top {
  position: absolute;
  top: 35px;
  left: calc(50% - 115px / 2);
  display: flex;
}
.header__phone, .header__action {
  position: relative;
  top: 62%;
  margin-left: 82px;
  color: white;
  margin-top: 52px;
}
.header__action-link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dashed;
  text-transform: uppercase;
}
.header__action-link:hover {
  color: #D5C5AA;
}

.logo {
  height: 76px;
  width: 115px;
}

.nav {
  text-transform: uppercase;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav__item {
  margin: 0 22.5px;
  padding: 7px 20px;
  white-space: nowrap;
  line-height: 16px;
}
.nav__item_active {
  background-color: #D5C5AA;
  border-radius: 10px;
}
.nav__item-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
}
.nav__item-link:hover {
  color: #D5C5AA;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info__heading {
  width: 314px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
.info__text {
  font-weight: 400;
  max-width: 564px;
}
.info__text :first-child {
  margin-top: 0;
}
.info__text :last-child {
  margin-bottom: 0;
}

.section {
  padding: 50px calc(50% - 470px);
  position: relative;
}
.section__heading {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -1.6em;
}
.section:nth-child(even) {
  background-color: #eee;
}

.heading {
  position: relative;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  width: max-content;
  white-space: nowrap;
  display: block;
  font-weight: 300;
}
.heading::before, .heading::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(50% - 19.5px);
  height: 2px;
  top: calc(100% + 5px);
  background-color: #00AAEF;
}
.heading::before {
  left: 0;
}
.heading::after {
  right: 0;
}
.heading__crown {
  position: absolute;
  display: block;
  width: 20px;
  height: 13px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/crown.png);
}

.gallery__caption {
  margin: 12px 0 35px 0;
}
.gallery__button {
  margin: 0 auto;
}

.button {
  color: white;
  background-color: #00AAEF;
  padding: 19px 62px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}
.button:hover {
  background-color: #2F80ED;
}

.photos {
  display: flex;
  justify-content: space-between;
}
.photos__img {
  width: calc(50% - 10px);
  height: 260px;
  object-fit: cover;
}
.photos__left .photos__img:first-child {
  width: calc(67% - 10px);
}
.photos__left .photos__img:last-child {
  width: calc(33% - 10px);
}
.photos__rigth .photos__img:first-child {
  width: calc(33% - 10px);
}
.photos__rigth .photos__img:last-child {
  width: calc(67% - 10px);
}

.footer {
  background-image: url("../img/background-footer.jpg");
  height: 540px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer__logo {
  position: absolute;
  top: 369px;
  left: calc(50% - 115px / 2);
}

.consultation {
  display: flex;
  justify-content: space-between;
}
.consultation__field {
  max-width: 480px;
  font-size: 16px;
  line-height: 1.5;
}
.consultation__field_question {
  margin: 24px 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}
.consultation__form {
  width: 383px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  height: 54px;
  width: 383px;
  background-color: #eee;
  margin-top: 15px;
}
.form__label_input {
  height: inherit;
  width: inherit;
  outline: none;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.form__label_input::placeholder {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: #393939;
  text-transform: uppercase;
}
.form__button {
  margin-top: 15px;
}

.testimonials {
  display: grid;
  justify-content: center;
  grid-gap: 65px;
  grid-template-columns: repeat(3, 200px);
}

.person {
  text-align: center;
}
.person__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.person__name {
  font-weight: 700;
  margin-top: 12px;
}
.person__post {
  margin: 0;
  color: #696973;
  font-style: italic;
}
.person__feedback {
  position: relative;
}
.person__feedback::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/quotes.png);
  width: 40px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: calc(100% + 6px);
  bottom: calc(100% + 6px);
}

.contacts {
  display: flex;
  justify-content: space-between;
}
.contacts__adress {
  width: 280px;
  font-size: 24px;
  line-height: 1.5;
}
.contacts__form {
  width: 378px;
}

.form__label_area {
  background-color: transparent;
  border: 0;
  height: 166px;
  width: inherit;
  resize: none;
}
.form__label_area::placeholder {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: #393939;
  text-transform: uppercase;
}

.form_area {
  height: 166px;
}

input[type] {
  text-align: center;
}

@media screen and (max-width: 980px) {
  .nav__list,
.header__top,
.info,
.photos,
.consultation,
.contacts {
    flex-direction: column;
    align-items: center;
  }

  .consultation__field, .info {
    padding: 0 20px;
  }

  .header__phone, .header__action {
    margin: 5px auto;
  }

  .info__heading {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .section {
    padding-top: 20px;
  }
  .section__heading {
    top: -0.9em;
  }

  .photos__img {
    margin-top: 10px;
    border: 1px solid #18A0FB;
  }
  .photos__left .photos__img:first-child {
    width: 50%;
  }
  .photos__left .photos__img:last-child {
    width: 50%;
  }
  .photos__rigth .photos__img:first-child {
    width: 50%;
  }
  .photos__rigth .photos__img:last-child {
    width: 50%;
  }

  .gallery__caption {
    text-align: center;
  }

  .testimonials {
    grid-template-columns: repeat(1, 300px);
  }
}

/*# sourceMappingURL=style.css.map */
